* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
.profile-st {
    object-fit: cover;
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
}
.alter-auth
{
    display: none;
}
.notification-circle {
    position: absolute;
     height: 5px;
     width: 5px;
    border-radius: 2.5px;
    background-color: darkred;  
    left:8px;
    top:5px;
}

.shop-name {
    background-color: rgba(253,250,241,255);
}

.right-content {
    width: 100%;
     min-height: 100%;
     overflow: auto;
     border-left: 0.1rem solid rgb(190, 187, 187);
}
.right-header p {
    font-size: 1rem;
    font-weight: 500;
}

.slash-st {
    font-size: .79rem;
    padding-left: 3px;
    padding-right: 3px;
}

.home-order-st {
    padding-left: 10px;
    padding-right: 6px;
    padding-bottom: 6px;
}
.or-st1
{
    font-weight: 600;
}


.right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgb(226, 224, 224);
    width: 99%;
}

.right-r {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}

body {
    width: 100%;
    height: 100%;
}

.logo-name {
    color: blue;
}

.main-content {
    display: flex;
    width: 100%;
    min-height: 95vh;
}

.nav-bars {
    margin-left: 10px;
    margin-top:15px;
}

.left-content {
    width: 20%;
    border-right: 0.1rem solid rgb(190, 187, 187);
    min-height: 100%;
}

.side-bar-header {
    display: flex;
    align-items: center;
     margin-left: 5px;
     margin-top: 10px;
}

.side-bar-header i {
     margin-right: 5px;
}

.nav-bar-items {
    display: flex;
    align-items: center;
    font-size: .88rem;
    margin-top: 13px;
    width: 80%;
   padding: 7px;
    color: rgba(131,130,135,255);
    font-weight: 500;
}

.nav-bar-items:hover {
    background-color: blue;
    color: white;
     border-radius: 5px;
}

.nav-bar-items i {
    margin-right: 0.3rem;
    padding-left: 4px;
}
.nav-bar-items p{
     padding-left: 3px;
}

.nav-st {
    width: 50%;
}


.right-down-content {
    background-color: rgba(244,245,250,255);
    padding-left: 1.3rem;
}

.add-btn {
    padding: .3rem;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 6%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: .6rem;
}

.right-down-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .3rem;
    padding-top: .35rem;
    font-size: 1rem;
}

.right-down-first p {
    font-size: 1.5rem;
    font-weight: 500;
}

.right-down-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding-right: .89rem;

}

.order-detail-co {
    border: 1px solid rgb(168, 166, 166);
    width: 30%;
    height: 5.7rem;
    border-radius: 0.3rem;
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .3rem;
}

.inside-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inside-order p {
    padding-right: 0.6rem;
    /* padding-top: 1.2rem; */
    padding-left: 0.7rem;
}
.st-last-week
{
    font-size: 0.7rem;
}
.or-st {
    padding-top: 0.3rem;
    padding-left: 0.7rem;
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 0.2rem;
}

.total-st {
    font-size: .8rem;
    font-weight: 600;
}

.right-down-third {
    border: 1px solid rgb(168, 166, 166);
    background-color: white;
    border-radius: 0.3rem;
}
.right-down-third:hover
{
    cursor: pointer;
}
.right-down-third-1 {
    padding-left: 0.3rem;
    padding-top: 0.9rem;
    color: rgba(94,93,99,255);

}

.right-down-third-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 0.3rem;
}

.search-div {
    position: relative;
    width: 50%;
    padding-left: 0.3rem;
}

.search-div input {
    padding-left: 1.8rem;
    height: 2rem;
    width: 60%;
    border: 2px solid lightgrey;
    border-radius: 0.2rem;
}

.search-icon {
    position: absolute;
    left: 0.9rem;
    top: 0.5rem;
}

.search-right-div {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgba(94,93,99,255);
}

.cm-btn {
    border: 1px solid lightgrey;
    padding: 0.3rem;
    border-radius: 0.25rem;
}
.exp-btn
{
    color: white;
    background-color: blue;
}
 .cm-btn:hover
 {
    background-color: blue;
    color: white;
 }
.cm-btn i {
    padding: 0.3rem;
}
.right-down-third
{
    margin-right: 1rem;
}
.right-down-third-3
{
    width: 100%;
    margin-top: 10px;
}
.right-down-third-1
{
    padding-left: 15px;
}
.right-down-third-2
{
    padding-left: 11px;
}
 .three-dots div
 {
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background-color: black;
 }
 .three-dots{
    margin: 2px;
    display: flex;
    align-items: center;
    gap: 3px;
 }
 .fist-column
 {
    display: flex;
    gap: 4px;
    padding-left: 5px;
 }
 table 
 {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
 }
 th,td{
    border-top:1px solid rgb(158, 155, 155);
 }
 th{
    padding: 4.6px;
    color: rgba(207,207,209,255);
    font-weight: 500;
 }
 td{
    padding: 6.5px;
 }
 thead
 {
    font-size: .85rem;
 }
 tbody
 {
    font-size: .85rem;
    font-weight: normal;
 }

 .hover-st:hover
 {
    cursor: pointer;
    background: rgb(240, 238, 238);
 }
 .table-circle
 {
    width: 2.5px;
    height: 2.5px;
    border-radius: 50%;
 }
  

   @media (min-width:0px) and (max-width:213px) 
   {
          
    *
    {
        font-size: 5px;
    }
    table input 
    {
        height: 5px;
        width: 5px;
    }  
    .nav-bar-items p 
    {
       display: none;
    }
    .side-bar-header h2
    {
       display: none;  
    }
    .side-bar-header i
    {
       width: max-content;
       padding-left: 13px;
    }
    .nav-bar-items
    {
       width: max-content;
    }
    .right-r {
       width: 68%;
   } 
      .right-r i 
      {
    font-size: 8px;
      }

      .profile-st 
      {
         height: 10px;
         width: 10px;
      } 
       .shop-name  span
       {
          font-size: 8px;
       }

      .notification-circle
      {
        top:0px;
        left: 4px;
      }
    .right-down-first p 
    {
         font-size: 7px;
    }
   .notification-circle
   {
            height: 2px;
            width: 2px;
           border-radius: 1px;
           left:5px;
           top:4px;  
   }
   .add-btn i
   {
     font-size: 3px;   
   }
   .add-btn
   {
       font-size: 4px;
       padding: 1px;
   }
   .right-down-second
   {
       display: flex;
       flex-direction: column;
       gap: 10px;
       padding-top: 8px;
   }
   .order-detail-co {
       width: 48%;
       height: 6.7rem;
   }
   .st-last-week
{
   font-size: 0.7rem;
}
.or-st {
   font-size: 1rem;
}
.total-st {
   font-size: .9rem;
}
.right-down-third
{
   display: flex;
   flex-direction: column;
}
    table tr th:nth-child(1),
    table tr td:nth-child(1){
        display: none;
    }
    table tr th:nth-child(3),
    table tr td:nth-child(3){
     display: none;
    }
    table tr th:nth-child(4),
    table tr td:nth-child(4){
     display: none;
    }
    table tr th:nth-child(5),
    table tr td:nth-child(5){
     display: none;
    }
    table tr th:nth-child(6),
    table tr td:nth-child(6){
     display: none;
    }
    table tr th:nth-child(7),
    table tr td:nth-child(7){
     display: none;
    }
    table tr th:nth-child(9),
    table tr td:nth-child(9){
     display: none;
    }      
       
    .search-div {
        position: relative;
        width: 60%;
        padding-left: 0.3rem;
    }
    
    .search-div input {
        padding-left: 1.8rem;
        height: 2rem;
        width: 70%;
        border: 2px solid lightgrey;
        border-radius: 0.2rem;
    }
    
    .search-icon {
        position: absolute;
        left: 0.9rem;
        top: 0.5rem;
    }
    .right-down-third-1
    {
        display: flex;
        justify-content: center;
        font-size: 13px;
    }
    .right-down-third-2
    {
        display: flex;
        align-items: center;
        padding-top: 13px;

    }
    .search-right-div {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: rgba(94,93,99,255);
    }
    .cm-btn span
    {
       display: none;
    }
    .cm-btn
    {
        padding: 0.1rem;
    }
    .cm-btn i
    {
         font-size: 7px;
    }

     td 
     {
       font-size: 5px;
     }
     .th 
     {
       font-size: 5px;
     }
     .table-circle
     {
        width: .3px;
        height: .3px;
        border-radius: 50%;
     }

   }
  @media (min-width:213px) and (max-width:269px) {
    *
    {
        font-size: 10px;
    }
    table input 
    {
        height: 8px;
        width: 8px;
    }  
    .nav-bar-items p 
    {
       display: none;
    }
    .side-bar-header h2
    {
       display: none;  
    }
    .side-bar-header i
    {
       width: max-content;
       padding-left: 13px;
    }
    .nav-bar-items
    {
       width: max-content;
    }
    .right-r {
       width: 63%;
   }

    .right-down-first p 
    {
         font-size: 10px;
    }
   .notification-circle
   {
            height: 3px;
            width: 3px;
           border-radius: 1.5px;
           left:5px;
           top:4px;  
   }
   .add-btn i
   {
     font-size: 5px;   
   }
   .add-btn
   {
       font-size: 6px;
       padding: 1px;
   }
   .right-down-second
   {
       display: flex;
       flex-direction: column;
       gap: 14px;
       padding-top: 10px;
   }
   .order-detail-co {
       width: 43%;
       height: 6.3rem;
   }
   .st-last-week
{
   font-size: 0.6rem;
}
.or-st {
   font-size: .9rem;
}
.total-st {
   font-size: .7rem;
}
.right-down-third
{
   display: flex;
   flex-direction: column;
}
    table tr th:nth-child(1),
    table tr td:nth-child(1){
        display: none;
    }
    table tr th:nth-child(3),
    table tr td:nth-child(3){
     display: none;
    }
    table tr th:nth-child(4),
    table tr td:nth-child(4){
     display: none;
    }
    table tr th:nth-child(5),
    table tr td:nth-child(5){
     display: none;
    }
    table tr th:nth-child(6),
    table tr td:nth-child(6){
     display: none;
    }
    table tr th:nth-child(7),
    table tr td:nth-child(7){
     display: none;
    }
    table tr th:nth-child(9),
    table tr td:nth-child(9){
     display: none;
    }      
       
    .search-div {
        position: relative;
        width: 60%;
        padding-left: 0.3rem;
    }
    
    .search-div input {
        padding-left: 1.8rem;
        height: 2rem;
        width: 70%;
        border: 2px solid lightgrey;
        border-radius: 0.2rem;
    }
    
    .search-icon {
        position: absolute;
        left: 0.9rem;
        top: 0.5rem;
    }
    .right-down-third-1
    {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .right-down-third-2
    {
        display: flex;
        align-items: center;
        padding-top: 15px;

    }
    .search-right-div {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: rgba(94,93,99,255);
    }
    .cm-btn span
    {
       display: none;
    }
    .cm-btn
    {
        padding: 0.1rem;
    }
    .cm-btn i
    {
         font-size: 8px;
    }

  }
 @media  (min-width:270px)and (max-width:320px)
 {
    *
    {
        font-size: 10px;
    }
    table input 
    {
        height: 8px;
        width: 8px;
    }
     .nav-bar-items p 
     {
        display: none;
     }
     .side-bar-header h2
     {
        display: none;  
     }
     .side-bar-header i
     {
        width: max-content;
        padding-left: 13px;
     }
     .nav-bar-items
     {
        width: max-content;
     }
     .right-r {
        width: 60%;
    }
    .notification-circle
    {
             height: 3px;
             width: 3px;
            border-radius: 1.5px;
            left:5px;
            top:4px;  
    }
    .add-btn i
    {
      font-size: 8px;   
    }
    .add-btn
    {
        font-size: 10px;
        padding: 1px;
    }
    .right-down-second
    {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding-top: 10px;
    }
    .order-detail-co {
        width: 43%;
        height: 6.3rem;
    }
    .st-last-week
{
    font-size: 0.7rem;
}
.or-st {
    font-size: 1rem;
}
.total-st {
    font-size: .8rem;
}
 .right-down-third
 {
    display: flex;
    flex-direction: column;
 }
 table tr th:nth-child(2),
 table tr td:nth-child(2){
     display: none;
 }
    table tr th:nth-child(3),
    table tr td:nth-child(3){
        display: none;
    }
    table tr th:nth-child(4),
    table tr td:nth-child(4){
        display: none;
    }
    table tr th:nth-child(6),
    table tr td:nth-child(6){
        display: none;
    }
    table tr th:nth-child(7),
    table tr td:nth-child(7){
        display: none;
    }
    table tr th:nth-child(9),
    table tr td:nth-child(9){
        display: none;
    }

    .search-div {
        position: relative;
        width: 60%;
        padding-left: 0.3rem;
    }
    
    .search-div input {
        padding-left: 1.8rem;
        height: 2rem;
        width: 70%;
        border: 2px solid lightgrey;
        border-radius: 0.2rem;
    }
    
    .search-icon {
        position: absolute;
        left: 0.9rem;
        top: 0.5rem;
    }
    .right-down-third-1
    {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .right-down-third-2
    {
        display: flex;
        align-items: center;
        padding-top: 15px;

    }
    .search-right-div {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: rgba(94,93,99,255);
    }
    .cm-btn span
    {
       display: none;
    }
    .cm-btn
    {
        padding: 0.1rem;
    }
    .cm-btn i
    {
         font-size: 8px;
    }
 }

@media (min-width:320px) and (max-width:425px)
{
  *
  {
    font-size: 9px;
  }
   .left-content
   {
    width: 20%;
   }
  .nav-bar-items p 
  {
     display: none;
  }
  .side-bar-header h2
  {
     display: none;  
  }
  .side-bar-header i
  {
     width: max-content;
     padding-left: 14px;
  }
  .nav-bar-items
  {
     width: max-content;
  }
  .right-r {
    width: 50%;
}
.notification-circle
{
         height: 3px;
         width: 3px;
        border-radius: 1.5px;
        left:5px;
        top:3px;  
}
.add-btn i
{
  font-size: 8px;   
}
.add-btn
{
    font-size: 10px;
    padding: 1px;
}
.right-down-second
{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 10px;
}
.order-detail-co {
    width: 43%;
    height: 6.3rem;
}
.st-last-week
{
font-size: 1rem;
}
.or-st {
font-size: 1.2rem;
}
.total-st {
font-size: 1rem;
}
   table tr th:nth-child(3),
   table tr td:nth-child(3){
       display: none;
   }
   table tr th:nth-child(4),
   table tr td:nth-child(4){
       display: none;
   }
   table tr th:nth-child(6),
   table tr td:nth-child(6){
       display: none;
   }
   table tr th:nth-child(7),
   table tr td:nth-child(7){
       display: none;
   }
   table tr th:nth-child(9),
   table tr td:nth-child(9){
       display: none;
   }

   .search-div {
    position: relative;
    width: 60%;
    padding-left: 0.3rem;
}

.search-div input {
    padding-left: 1.8rem;
    height: 2rem;
    width: 70%;
    border: 2px solid lightgrey;
    border-radius: 0.2rem;
}

.right-down-third-1
{
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.right-down-third-2
{
    display: flex;
    align-items: center;
    padding-top: 15px;

}
.search-right-div {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgba(94,93,99,255);
}
.cm-btn span
{
   display: none;
}
.cm-btn
{
    padding: 0.1rem;
}
.cm-btn i
{
     font-size: 8px;
}
table input 
{
     width: 8px;
     height: 8px;
}
} 

@media (min-width:426px) and (max-width:522px)
{
    *{
        font-size: 8px;
    }
      .right-r
      {
        width: 27%;
      }
    .search-right-div
    {
        width: 42%;
    }
    table tr th:nth-child(2),
table tr td:nth-child(2){
    display: none;
}
table tr th:nth-child(9),
table tr td:nth-child(9){
    display: none;
}
table tr th:nth-child(3),
table tr td:nth-child(3){
    display: none;
}
  table input 
  {
       width: 8px;
       height: 8px;
  }
  .left-content
  {
     width: 10%;
  }
  .nav-bar-items p 
  {
     display: none;
  }
  .side-bar-header h2
  {
     display: none;  
  }
  .side-bar-header i
  {
     width: max-content;
     padding-left: 14px;
  }
  .nav-bar-items
  {
     width: max-content;
  }
  .right-down-second
  {
      display: flex;
      flex-direction: column;
      gap: 14px;
      padding-top: 10px;
  }
  .notification-circle
  {
    top:2px;
    left: 4px;
    height: 3px;
    width: 3px;
  }
}
@media (min-width:522px) and (max-width:700px)
{
  *
  {
    font-size: 10px;
  }
     .left-content
     {
        width: 10%;
     }
   table input 
   {
     height: 9px;
     width: 9px;
   }
  .right-r{
    width: 33%;
  }
  .nav-bar-items p 
  {
     display: none;
  }
  .side-bar-header h2
  {
     display: none;  
  }
  .side-bar-header i
  {
     width: max-content;
     padding-left: 14px;
  }
  .nav-bar-items
  {
     width: max-content;
  }
  .notification-circle
  {
    height: 3px;
    width: 3px;
   border-radius: 1.5px;
   left:5.6px;
   top:3px;  
  }
  .right-down-third-2
  {
    align-items: center;
  }
  .search-right-div {
    width: 40.3%;
}
table tr th:nth-child(7),
table tr td:nth-child(7){
    display: none;
}
table tr th:nth-child(9),
table tr td:nth-child(9){
    display: none;
}
table tr th:nth-child(4),
table tr td:nth-child(4){
    display: none;
}
table tr th:nth-child(3),
table tr td:nth-child(3){
    display: none;
}
 .right-down-second
 {
    padding-top: 10px;
 }
  .alter-auth
  {
    display: block;
  }
  .home-order-st 
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .right-down-first
  {
    padding-top: 14px;
  }
} 
@media (min-width:700px) and (max-width:900px)
{
  *
  {
    font-size: 11px;
  } 
   table input 
   {
     font-size: 10px;
   }
  .search-right-div
  {
     width: 35%;
  }
   
    .right-r
    {
        width: 24%;
    }
     .notification-circle
     {
        height: 3px;
        width: 4px;
        left: 6px;
        top: 3px;
     }
   .home-order-st
   {
    padding-top: 10px;
   }
   .right-down-second
   {
    padding-top: 7px;
   }
   .right-down-third-2
   {
    padding-top: 5px;
   }

  table tr th:nth-child(2),
table tr td:nth-child(2){
    display: none;
}
table tr th:nth-child(3),
table tr td:nth-child(3){
    display: none;
}

}

@media (min-width:901px) and (max-width:1100px)
{
    *
    {
        font-size: 13px;
    }
    .search-right-div 
    {
         width: 29%;
    }
    th 
    {
        padding: 7px;
    }
    td 
    {
        padding:9px;
    }
    .or-st
    {
        font-size: 20px;
    }
    .total-st
    {
        font-size: 17px;
    }
     .st-last-week
     {
        font-size: 11px;
     }
    table tr th:nth-child(4),
    table tr td:nth-child(4){
        display: none;
    }
}
@media (min-width:1101px) and (max-width:1999px) {
    *{
        font-size: 15px;
      }
      table input 
      {
        height: 15px;
        width: 15px;
        margin-top:5px;
      }
      th,td 
      {
        padding: 15px;
      }
      .profile-st
      {
        height: 40px;
        width: 40px;
      }
       .nav-bar-items
       {
        padding: 15px;
       }
    

       .order-detail-co
       {
         height: 150px;
       }
       .or-st
       {
        font-size: 30px;
       }
       .st-last-week
       {
        font-size: 20px;
       }
      .total-st
      {
        font-size: 23px;
      }
}
@media (min-width:2000px){
      *{
        font-size: 20px;
      }
      .notification-circle
      {
         left: 11px;
         top:9px;
      }
      table input 
      {
        height: 20px;
        width: 20px;
        margin-top:5px;
      }
      th,td 
      {
        padding: 24px;
      }
      .search-right-div
      {
        width: 20%;
      }
      .right-r 
      {
         width: 23%;
      }
      .profile-st
      {
        height: 40px;
        width: 40px;
      }
       .right-r i
       {
         font-size: 36px;
       }
       .notification-circle
       {
        left: 19px;
       }
       .nav-bar-items
       {
        padding: 25px;
       }
    

       .order-detail-co
       {
         height: 200px;
       }
       .or-st
       {
        font-size: 45px;
       }
       .st-last-week
       {
        font-size: 25px;
       }
      .total-st
      {
        font-size: 35px;
      }


}

 